<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="..\static\css\index.css">
</head>
<body>
<h1>Электромонтажные работы!</h1>
<p>Наша дружная команда предлагает весь спектр услуг по электромонтажным работам в г. Пенза</p>
<div>
<img src="static/img/i.webp">
</div>
</body>
</html>